# Web-app
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_APP_URL=

API_URL=
APP_PORT=

# Backend
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DATABASE_URL=

SERVER_PORT=
NODE_ENV=
API_BASE_URL=
API_PREFIX=
CORS_ORIGINS=

JWT_SECRET=
JWT_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=
SALT_ROUNDS=

REDIS_URL=

#Google Cloud Vision
GOOGLE_APPLICATION_CREDENTIALS=

# Cloudflare
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=

# Other
IMAGE_TAG=
