# Web-app
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_APP_URL=

API_URL=

# Backend
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DATABASE_URL=

SERVER_PORT=
NODE_ENV=
API_BASE_URL=
API_PREFIX=
CORS_ORIGINS=

JWT_SECRET=
JWT_EXPIRES=
SALT_ROUNDS=

REDIS_URL=